body{background-color: darksalmon;}
h1{color:darkslateblue; font-family: cursive;font-size: 60px;}
h2{color: cadetblue; font-family: cursive}
p{color:lavenderblush; font-size: 25px; font-family: monospace}
a.links{color:oldlace; font-family: copperplate;font-size: 30px;}
a{color:gray;}